$default: #626262;
$dark: #333333;
$light: #f0f0f0;
$accent: #cae5e0;
$grey: #b4ad9e;
$grey-light: #c8c8c8;

$black: #000000;
$white: #FFFFFF;


$playfair: 'Playfair Display', serif;

$ubuntu: 'Ubuntu', sans-serif;

$inconsolata: 'Inconsolata', sans-serif;

